<!DOCTYPE html>
<html>
  <head>
    <title>VueAutocomplete</title>
    <meta name="description" content="Example website using Vue.js and Rails 5.1+ with the webpacker gem. Website content is loaded dynamically from an external API based on user input.">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= yield :after_js %>
  </body>
</html>
